/*--------------------------------------------------------------
# Background image color overlay
--------------------------------------------------------------*/

@define-mixin background-image-overlay $background-color {
	position: relative;

	&::after {
		background: $background-color;
		content: '';
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: $z-background-overlay;
	}

	.wrap {
		position: relative;
		z-index: resolve($z-background-overlay + 1);
	}
}

/*--------------------------------------------------------------
# Border
--------------------------------------------------------------*/

@define-mixin border $margin-adjust: 0rem, $padding-adjust: 0rem {
	border-top: 1px solid $color-border;
	margin-top: resolve( $space-border + $margin-adjust );
	padding-top: resolve( $space-border + $padding-adjust );
}

/*--------------------------------------------------------------
# Box
--------------------------------------------------------------*/

@define-mixin box $type: default, $space: $space-box {
	$box-padding: 15px;
	background: #fff;
	box-shadow: $box-shadow;
	margin-bottom: $space;

	@if $type != linked {
		padding: $box-padding;
	}

	text-align: center;
	transition: $transition;

	@if $type == linked {
		&:hover {
			box-shadow: $box-shadow-on;
			transform: translateY( -1px );
		}

		> a {
			padding: $box-padding;
		}
	}
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

@define-mixin button $background: $background-button,  $background-hover: $background-button-hover, $background-active: $background-button-active {
	background: $background;
	border-radius: $border-radius;
	border: 0;
	box-shadow: none;
	color: color( $color-white a(90%) );
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-heading;
	font-size: $font-size-button;
	font-weight: $font-weight-heading;
	line-height: 1;
	padding: 0.8em 0.9em 0.7em;
	text-align: center;
	text-decoration: none;
	text-shadow: $text-shadow;
	text-transform: uppercase;
	white-space: nowrap;
	width: auto;

	&:hover,
	&:focus {
		background: $background-hover;
		color: $color-white;
	}

	&:active {
		background: $background-active;
		color: $color-white;
	}
}

@define-mixin button-outline $type: default {
	background: transparent;

	@if $type == light {
		box-shadow: inset 0 0 0 2px color( $color-white a(60%) );
		color: color( $color-white a(90%) );
	} @else {
		box-shadow: inset 0 0 0 2px color( $background-button a(80%) );
		color: $background-button;
		text-shadow: none;
	}

	&:hover,
	&:focus {
		@if $type == light {
			background: color( $background-button lightness(+6) );
		} @else {
			background: $background-button;
		}
		color: #fff;
	}
}

@define-mixin button-big {
	font-size: resolve( $font-size-button + 0.1em );
}

@define-mixin button-small $font-reduce: 0.1em {
	font-size: resolve( $font-size-button - $font-reduce );
	padding: 0.6em 0.7em 0.6em;
}

@define-mixin button-plain {
	background: $background-button-plain;

	&:hover,
	&:focus,
	&:active {
		background: $background-button-plain-hover;
	}
}

/*--------------------------------------------------------------
# Flexbox
--------------------------------------------------------------*/

@define-mixin flexbox $direction: row, $wrap: wrap, $justify: space-between, $align: normal {
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;

	@if $align != normal {
		align-items: $align;
	}
}

/*--------------------------------------------------------------
# Full width
--------------------------------------------------------------*/

@define-mixin full-width $text-align: center  {
	margin-left: 0;
	text-align: $text-align;
	width: 100%;
}

@define-mixin full-width-phone $text-align: center  {
	@media (max-width: $_phone) {
		@mixin full-width $text-align;
	}
}

/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/

@define-mixin heading $level {
	color: $color-heading;
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
	line-height: $line-height-heading;
	margin-bottom: $space-heading;
	margin-top: 0;

	@if $level == h1 {
		font-size: $font-size-h1;
	}
	@if $level == h2 {
		font-size: $font-size-h2;
	}
	@if $level == h3 {
		font-size: $font-size-h3;
	}
	@if $level == h4 {
		font-size: $font-size-h4;
	}
	@if $level == h5 {
		font-size: $font-size-h5;
	}

	a {
		color: $color-heading;
		text-decoration: none;
	}
}

@define-mixin title {
	color: $color-title;
	font-family: $font-family-heading;
	font-size: $font-size-h1;
	font-weight: $font-weight-heading;
	margin-bottom: 0;
	line-height: $line-height-title;
	text-shadow: $text-shadow;
}

/*--------------------------------------------------------------
# Image replacement
--------------------------------------------------------------*/

@define-mixin image-replacement $height: auto, $width: auto  {
	display: block;
	height: $height;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: $width;
}

/*--------------------------------------------------------------
# Link
--------------------------------------------------------------*/

@define-mixin link $color: $color-link, $color-hover: $color-link-hover, $decoration: none  {
	color: $color;
	text-decoration: $decoration;

	&:hover,
	&:focus,
	&:active {
		color: $color-hover;
	}
}

@define-mixin link-imitate  {
	color: $color-text;

	&:hover,
	&:focus,
	&:active {
		color: $color-link;
	}
}

/*--------------------------------------------------------------
# Remove bottom space
--------------------------------------------------------------*/

@define-mixin remove-bottom-space {
	> *:last-child {
	    margin-bottom: 0 !important;
	}
}

/*--------------------------------------------------------------
# Screen reader text
--------------------------------------------------------------*/
@define-mixin screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/*--------------------------------------------------------------
# Section background
--------------------------------------------------------------*/

@define-mixin section-background $background {
	background: $background;
	border-bottom: 1px solid $color-border;
	border-top: 1px solid $color-border;
}

/*--------------------------------------------------------------
# Section vertical spacing
--------------------------------------------------------------*/

@define-mixin section-space $top-adjust: 0rem, $bottom-adjust: 0rem {
	padding-bottom: resolve( $space-section + $bottom-adjust );
	padding-top: resolve( $space-section + $top-adjust );

	@media (min-width: $tablet) {
		padding-bottom: resolve( $space-section-desktop + $bottom-adjust );
		padding-top: resolve( $space-section-desktop + $top-adjust );
	}
}

@define-mixin section-margin-bottom $adjust: 0rem {
	margin-bottom: resolve( $space-section + $adjust );

	@media (min-width: $tablet) {
		margin-bottom: resolve( $space-section-desktop + $adjust );
	}
}
