/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

$font-family:         proxima-nova, sans-serif;
$font-family-heading: $font-family;

$responsive-type-font-min:   16px;
$responsive-type-font-max:   20px;
$responsive-type-screen-min: 420px;
$responsive-type-screen-max: 1280px;

$font-size:            1em;
$font-size-h1:         2.2em;
$font-size-h2:         1.8em;
$font-size-h3:         1.4em;
$font-size-h4:         resolve($font-size + 0.1em);
$font-size-h5:         $font-size;
$font-size-subtitle:   resolve($font-size + 0.35em);
$font-size-large:      $font-size-subtitle;
$font-size-medium:     resolve($font-size + 0.2em);
$font-size-meta:       0.85em;
$font-size-nav:        19px;
$font-size-nav-mobile: 1.2em;
$font-size-field:      resolve($font-size + 0.1em);;
$font-size-button:     1.2em;

$font-weight:               400;
$font-weight-bold:          700;
$font-weight-heading:       700;

$line-height:         1.65;
$line-height-heading: 1.3;

/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/

$color-primary:   hsl(203, 70%, 54%);
$color-secondary: hsl(227, 20%, 56%);
$color-white:     hsl(0, 0%, 100%);
$color-neutral:   hsl(208, 3%, 95%);
$color-dark:      hsl(208, 18%, 28%);

$color-text:     $color-dark;
$color-strong:   color( $color-text lightness(+5) );
$color-heading:  $color-text;
$color-meta:     color( $color-text lightness(+28) );
$color-title:    color( $color-white a(95%) );
$color-subtitle: color( $color-text lightness(+10) );
$color-border:   hsl(0, 0%, 88%);
$color-footer:   color( $color-white a(80%) );

$color-error: hsl(355, 87%, 55%);

$color-facebook:   #3b5999;
$color-twitter:    #55acee;
$color-linkedin:   #0077B5;
$color-googleplus: #dd4b39;

/* Links
----------------------------------*/

$color-link:              color( $color-primary lightness(-10) saturation(+5) );
$color-link-hover:        color( $color-link lightness(+5) );
$color-nav:               $color-text;
$color-nav-hover:         color( $color-primary lightness(-5) saturation(+5) );
$color-nav-active:        $color-nav-hover;
$color-meta-link:         $color-meta;
$color-meta-link-hover:   $color-link;
$color-footer-link:       color( $color-footer a(+10%) );
$color-footer-link-hover: color( $color-footer-link a(+20%) );

/* Buttons
----------------------------------*/

$background-button:        $color-primary;
$background-button-hover:  color( $background-button hue(+2) saturation(+7) lightness(+7) );
$background-button-active: color( $background-button-hover lightness(+5) );

$background-button-plain:       hsl(180, 4%, 43%);
$background-button-plain-hover: color( $background-button-plain lightness(+4) );

$color-button-overlay:            hsl(0, 0%, 40%);
$background-button-overlay:       color( $color-white a(90%) );
$background-button-overlay-hover: $color-white;

/* Backgrounds
----------------------------------*/

$background-masthead: color( $color-white a(92%) );

$bgh-top:    color( $color-secondary lightness(-25) a(50%) );
$bgh-bottom: color( $color-primary lightness(-30) a(70%) );
$background-header: linear-gradient( to bottom, $bgh-top 30%, $bgh-bottom 100%);

$background-section:      $color-neutral;

$bgsd-top:    color( $color-dark lightness(-4) );
$bgsd-bottom: color( $color-dark lightness(+0) );
$background-section-dark: linear-gradient( 160deg, $bgsd-top 20%, $bgsd-bottom 70% );

$bgsc-top:    color( $color-secondary hue(+5) saturation(+18) lightness(-7) );
$bgsc-bottom: color( $bgsc-top hue(-25) saturation(+13) );
$background-section-color: linear-gradient( 140deg, $bgsc-top 0%, $bgsc-bottom 70% );

$bgf-top:    hsla(234, 25%, 25%, 0.5);
$bgf-bottom: color( $color-primary lightness(-40) a(70%) );
$background-footer:   linear-gradient( to bottom, $bgf-top 20%, $bgf-bottom 80%);

$background-colophon: color( $color-dark lightness(-8) );

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

$gutter:         4%;
$max-width:      750px;
/* $max-width:      1000px; */
$max-width-wide: 1300px;

$masthead-height:  4.2rem;
$submenu-width:    220px;
$grid-main-width:  630px;
$grid-aside-width: 300px;
$colophon-height:  5rem;

$space-text:    1.5em;
$space-heading: 0.5em;

$space-button:          0.6em;
$space-button-half:     resolve($space-button / 2);
$space-button-vertical: 1em;

$space-section:         2rem;
$space-section-desktop: 2.4rem;
$space-entry:           1.6rem;
$space-entry-child:     1.2rem;
$space-gallery:         0.1rem;
$space-box:             1.3rem;
$space-border:          2rem;
$space-icon:            0.4em;

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

$small-phone:   400px;
$_small-phone:  resolve($small-phone - 1px);
$phone:         560px;
$_phone:        resolve($phone - 1px);
$tablet:        768px;
$_tablet:       resolve($tablet - 1px);
$desktop:       992px;
$_desktop:      resolve($desktop - 1px);
$large-desktop: 1200px;

/*--------------------------------------------------------------
# Effects
--------------------------------------------------------------*/

$border-radius: 8px;
$border-radius-circle: 999px;
$border-radius-field: 8px;
$box-shadow:    0 0 5px 0 hsla(0, 0%, 0%, 0.1);
$box-shadow-on: 0 0 15px 0 hsla(0, 0%, 0%, 0.13);
$text-shadow:   1px 1px hsla(0, 0%, 0%, 0.15);
$transition:    all 0.3s;

/*--------------------------------------------------------------
# Z-index
--------------------------------------------------------------*/

$z-lightbox-close:     8;
$z-lightbox:           7;
$z-menu-toggle:        6;
$z-site-menu:          5;
$z-masthead:           4;
$z-submenu:            3;
$z-colophon:           2;
$z-background-overlay: 1;
