/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

$font-family:         proxima-nova, sans-serif;
$font-family-heading: $font-family;

$responsive-type-font-min:   16px;
$responsive-type-font-max:   20px;
$responsive-type-screen-min: 420px;
$responsive-type-screen-max: 1280px;

$font-size:            1em;
$font-size-h1:         2.2em;
$font-size-h2:         1.8em;
$font-size-h3:         1.4em;
$font-size-h4:         resolve($font-size + 0.1em);
$font-size-h5:         $font-size;
$font-size-subtitle:   resolve($font-size + 0.35em);
$font-size-large:      $font-size-subtitle;
$font-size-medium:     resolve($font-size + 0.2em);
$font-size-meta:       0.85em;
$font-size-nav:        19px;
$font-size-nav-mobile: 1.2em;
$font-size-field:      resolve($font-size + 0.1em);;
$font-size-button:     1.2em;

$font-weight:               400;
$font-weight-bold:          700;
$font-weight-heading:       700;

$line-height:         1.65;
$line-height-title:   1.2;
$line-height-heading: 1.3;

/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/

$color-primary:   hsl(195, 80%, 45%);
$color-secondary: hsl(25, 80%, 63%);
$color-white:     hsl(0, 0%, 100%);
$color-neutral:   hsl(60, 3%, 95%);
$color-dark:      hsl(210, 5%, 21%);

$color-text:     hsl(0, 0%, 20%);
$color-strong:   color( $color-text lightness(+5) );
$color-heading:  $color-text;
$color-meta:     color( $color-text lightness(+28) );
$color-title:    color( $color-white a(95%) );
$color-subtitle: color( $color-text lightness(+10) );
$color-border:   hsl(0, 0%, 88%);
$color-footer:   color( $color-white a(80%) );

$color-error: hsl(343, 100%, 38%);

/* Links
----------------------------------*/

$color-link:              color( $color-primary lightness(-10) saturation(+5) );
$color-link-hover:        color( $color-link lightness(+5) );
$color-nav:               $color-text;
$color-nav-hover:         color( $color-primary lightness(-5) saturation(+5) );
$color-nav-active:        $color-nav-hover;
$color-meta-link:         $color-meta;
$color-meta-link-hover:   $color-link;
$color-footer-link:       color( $color-footer a(+10%) );
$color-footer-link-hover: color( $color-footer-link a(+10%) );

/* Backgrounds
----------------------------------*/

$background-button:             $color-primary;
$background-button-hover:       color( $background-button saturation(-5) lightness(+5) );
$background-button-active:      color( $background-button saturation(-5) lightness(+5) );
$background-button-plain:       hsl(180, 4%, 43%);
$background-button-plain-hover: color( $background-button-plain lightness(+4) );

$bgh-gradient-light: color( $color-primary lightness(10) a(20%) );
$bgh-gradient-dark:  color( $color-primary lightness(10) a(50%) );
$background-header:  linear-gradient( to bottom, $bgh-gradient-light 30%, $bgh-gradient-dark 60%, $bgh-gradient-dark 72%, $bgh-gradient-light 100%);

$background-section:      $color-neutral;
$background-section-dark: $color-dark;

$bsp-gradient-light: color( $color-primary hue(+4) );
$bsp-gradient-dark: color( $color-primary hue(-4) );
$background-section-primary: linear-gradient( 135deg, $bsp-gradient-light 0%, $bsp-gradient-dark 80% );

$background-footer:   linear-gradient( to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.7) 80%);
$background-colophon: color( $color-dark a(90%) );

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

$gutter:         4%;
$max-width:      750px;
/* $max-width:      1000px; */
$max-width-wide: 1300px;

$space-text:    1.5em;
$space-heading: 0.5em;

$space-button:          0.6em;
$space-button-half:     resolve($space-button / 2);
$space-button-vertical: 1em;

$space-section:         2rem;
$space-section-desktop: 2.4rem;
$space-entry:           1.6rem;
$space-entry-child:     1.2rem;
$space-box:             1.3rem;
$space-border:          2rem;

$masthead-height: 4.2rem;
$submenu-width: 220px;
$aside-width:   300px;

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

$small-phone:   400px;
$phone:         560px;
$_phone:        resolve($phone - 1px);
$tablet:        768px;
$_tablet:       resolve($tablet - 1px);
$desktop:       992px;
$_desktop:      resolve($desktop - 1px);
$large-desktop: 1200px;

/*--------------------------------------------------------------
# Effects
--------------------------------------------------------------*/

$border-radius: 8px;
$border-radius-field: 8px;
$box-shadow:    0 0 5px 0 rgba(0, 0, 0, 0.1);
$box-shadow-on: 0 0 15px 0 rgba(0, 0, 0, 0.13);
$text-shadow:   1px 1px rgba(0, 0, 0, 0.15);
$transition:    all 0.3s;

/*--------------------------------------------------------------
# Z-index
--------------------------------------------------------------*/

$z-menu-toggle:        100;
$z-masthead:           100;
$z-colophon:           30;
$z-background-overlay: 10;
$z-site-menu:          1;
