/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.9 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

@import "inc/variables";

@media all {
	/* Previous/next containers */
	.featherlight-next,
	.featherlight-previous {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 86%;
		cursor: pointer;
		/* preventing text selection */
		user-select: none;
		/* IE9 hack, otherwise navigation doesn't appear */
		background: rgba(0,0,0,0);
	}

	.featherlight-previous {
		left: 0;
		right: 86%;
	}

	/* Previous/next inner container */
	.featherlight-next span,
	.featherlight-previous span {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;

		/* dimensions */
		font-size: 1.8em;

		/* position: center */
		position: absolute;
		left: 65%;
		top: 50%;
		transform: translate(-50%, -50%);

		/* styling */
		color: hsla(0, 0%, 100%, 0.9);
	}

	.featherlight-previous span {
		left: 35%;
	}

	.featherlight-next .icon-chevron,
	.featherlight-previous .icon-chevron {
		filter: drop-shadow(0 0 2px #222);
		height: 1.2em;
		stroke-width: 2px;
		width: 1.2em;
		transform: rotate(.75turn);
	}

	.featherlight-previous .icon-chevron {
		transform: rotate(.25turn);
	}

	.featherlight-next:hover span,
	.featherlight-previous:hover span {
		left: 60%;
		opacity: 1;
		visibility: visible;
	}

	.featherlight-previous:hover span {
		left: 40%;
	}

	.featherlight-swipe-aware .featherlight-next,
	.featherlight-swipe-aware .featherlight-previous {
		display: none;
	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous,
	.featherlight-loading .featherlight-next {
		display: none;
	}

	/* Hide navigation in case of single image */
	.featherlight-first-slide.featherlight-last-slide .featherlight-previous,
	.featherlight-first-slide.featherlight-last-slide .featherlight-next {
		display: none;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next span,
	.featherlight-previous span {
		opacity: 0.8;
		visibility: visible;
	}
}

/* Large screens */
@media only screen and (min-width: 768px) {
	.featherlight-next span,
	.featherlight-previous span {
		/* dimensions */
		font-size: 2.2em;
	}
}
